@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* Primary */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* Accent */
  --blue: hsl(248, 32%, 49%);
  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--clr-bg);
  color: var(--clr-text);
  margin: 0;
  padding: 0;
}

main {
  background: var(--red) url('./images/bg-intro-mobile.png') no-repeat
    center/cover;
  text-align: center;
  position: relative;
}

.container {
  display: grid;
  gap: 3rem;
}

header {
  padding: 6.25rem 1.5rem 0;
  color: var(--white);
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
  margin: 0;
}

.signup-form {
  padding: 0 1.375rem 4rem;
  width: 100%;
  max-width: 33.75rem;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  background: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 1.3rem 4.6rem;
  border-radius: 0.6rem;
  width: 100%;
  font-weight: 4 00;
  margin-bottom: 1.6rem;
  box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
}

.pricing span {
  font-weight: 900;
}

form {
  background: var(--white);
  border-radius: 0.6rem;
  padding: 1.375rem;
  box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-control {
  position: relative;
  margin-bottom: 1rem;
}

.form-control img {
  visibility: hidden;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}

.form-control .error-text {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 500;
  color: var(--red);
  text-align: right;
  margin-top: 0.5rem;
  display: none;
}

/* error class */
.form-control.error input {
  border: 2px solid var(--red);
}

.error input:focus {
  outline: none;
}

.form-control.error .error-text {
  display: block;
}

.form-control.error img {
  visibility: visible;
}
/* end of error class */

input,
button {
  width: 100%;
}

input,
button {
  font-family: 'Poppins', sans-serif;
  border-radius: 0.3rem;
  padding: 0.9rem 1.2rem;
}

input {
  border: 1px solid rgb(216, 216, 216);
  display: inline-block;
  caret-color: var(--blue);
  font-size: 1rem;
  font-weight: 600;
}

input::placeholder {
  font-size: 0.9rem;
  font-weight: 600;
}

input:focus {
  outline: 1px solid var(--dark-blue);
}

button {
  border: none;
  background: var(--green);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 5px 1px rgba(45, 161, 111, 0.8);
  margin-bottom: 0.8rem;
  cursor: pointer;
}

button:hover {
  background: hsl(154, 59%, 61%);
}

.terms-services {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--grayish-blue);
  margin: 0.3rem 0 0;
}

.terms-services span {
  color: var(--red);
  font-weight: 700;
  cursor: pointer;
}

.terms-services span:hover {
  border-bottom: 1px solid var(--red);
}

.attribution {
  padding: 0 0 1rem;
  margin: 0;
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: var(--blue);
}

@media screen and (min-width: 64rem) {
  main {
    background-image: url('./images/bg-intro-desktop.png');
    background-position: center;
    background-size: cover;
    text-align: unset;
    min-height: 100vh;
    display: grid;
    align-content: center;
  }

  .container {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    padding: 0;
    max-width: 31rem;
  }

  h1 {
    font-size: 3rem;
  }

  .signup-form {
    padding: 0;
  }

  form {
    padding: 2.5rem;
  }

  .pricing {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
